@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="container-fluid text-center">
    <img src="~/Content/Images/lanche-logo.jpg" alt="LOGOTIPO DO SISTEMA" style="width: 50%;" />
    <h2>SISTEMA DE CADASTRO DE RESTAURANTES</h2>
</div>

