@model IEnumerable<WebApplication2.Models.Restaurante>

@{
    ViewBag.Title = "Index";
}

<p>&emsp;</p>
<h2>RESTAURANTES</h2>
<p>&emsp;</p>
<a href="~/Restaurantes/Create"><button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Cadastrar novo Restaurante</button></a>
<p>&emsp;</p>

<table class="table">
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>Restaurantes</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.RestauranteID })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RestauranteID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestauranteNome)
            </td>
        </tr>
    }

</table>
